/**
  * Styling for the application form
  * Phelan Vendeville
  **/
#main{
	margin:0px auto;
	width: 960px;
	border:3px solid black;
	padding:15px;
	margin-top:50px;
    /*font-family: Helvetica, Arial, sans-serif;*/
    font-family: Georgia, serif;
    font-size: 14px;
    color: #333;
    background-color: #fbfaf6;
}
hr{
	margin:20px auto;
}
header{
	text-align: center;
}
footer{
	text-align: center;
	color:#8AA352;
}
form{
	width:800px;
	margin: 0px auto;
}
fieldset{
	margin-bottom:10px;
	background-color: #f6f4ea;
}
label {
  display: block;
  clear:both;
  font-size: 16px;
  margin-bottom: 5px;
}
input[type="text"]{
	float:right;
	margin-right: 100px;
	padding: 2px;
    font-family: monospace;
}
input[type=submit] {
  font-size: 20px;
  margin-left: 375px;
}
legend{
	font-weight: bold;
}
textarea {
  width: 700px;
  height: 100px;

  font-family: monospace;
}
#instructions{
	border:1px solid black;
	margin:0px auto;
	padding:2px;
	font-size: 12px;
	text-align: center;
	width:200px;
	margin-bottom: 5px;
	background-color: #f6f4ea;
}
.required{
	/*color: red;*/
}
.error{
	background-color:#FF3030;
}
.errorMessage{
	position:absolute; 
	float: right;
	margin-left:50px;
	font-size:11px;
	color:red;
}
.odd{
	background-color: green;
}
.shadow{
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}
#uvmHeading{
	margin:0px auto;
}